#gameboard_container{
    display: flex;
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

#gameboard{
    height: 20rem;
    width: 20rem;
}

.square_div{
    border: 1px solid black;
}

.knight{
    position: absolute;
    width:30px;
}

.draggable{
    touch-action: none;
    user-select: none;
}

.black{
    background-color: black;
}

.endPoint{
    background-color: red;
}

.visited{
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}